<!DOCTYPE html>
<html lang="bn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ভাগবত কথামৃত</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script>
        window.onload = function () {
            if (window.location.search.includes('payment_id')) {
                const urlWithoutParams = window.location.origin + window.location.pathname;
                window.history.replaceState({}, document.title, urlWithoutParams);
            }
        };
    </script>
</head>
<body>
<div id="wrapper">
    <div class="container">
        <div class="right">
            <div class="language-switcher">
                <label for="language-select">ভাষা: </label>
                <select id="language-select" onchange="switchLanguage()">
                    <option value="en">ইংরেজি</option>
                    <option value="hi">হিন্দি</option>
                    <option value="ben" selected>বাংলা</option>
                </select>
            </div>
            <div class="header-image"></div>
            <div class="title-header">
                <h1 id="main-heading" class="text-center">ভাগবত কথামৃতম নিবন্ধন ফর্ম অনলাইন</h1>
                <h2 id="title" class="text-center"><span>ভাগবত কথামৃতমের জন্য নিবন্ধন করুন</span></h2>
                <p id="description" class="description text-center"><span>অনুগ্রহ করে প্রয়োজনীয় বিবরণ সহ ফর্মটি পূরণ করুন</span></p>
            </div>
            <form id="survey-form" action="{{ url_for('main.register') }}" method="POST">
                <div class="form-set">
                    <label id="first-name-label" for="first-name"><i class="fas fa-user"></i> প্রথম নাম</label>
                    <input
                            type="text"
                            name="first_name"
                            id="first-name"
                            class="form-control"
                            placeholder="আপনার প্রথম নাম লিখুন"
                            required/>
                </div>

                <div class="form-set">
                    <label id="last-name-label" for="last-name"><i class="fas fa-user"></i> শেষ নাম</label>
                    <input
                            type="text"
                            name="last_name"
                            id="last-name"
                            class="form-control"
                            placeholder="আপনার শেষ নাম লিখুন"
                            required/>
                </div>

                <div class="form-set">
                    <label id="email-label" for="email"><i class="fas fa-envelope"></i> ই-মেইল</label>
                    <input
                            type="email"
                            name="email"
                            id="email"
                            class="form-control"
                            placeholder="আপনার ই-মেইল লিখুন"
                            required/>
                </div>

                <div class="form-set">
                    <label id="phone-num-label" for="phone-number"><i class="fas fa-phone"></i> হোয়াটসঅ্যাপ নম্বর (বা ফোন নম্বর)</label>
                    <input
                            type="tel"
                            name="phone"
                            pattern="[6-9][0-9]{9}"
                            id="phone-number"
                            title="ভারতের ১০-অঙ্কের বৈধ মোবাইল নম্বর লিখুন"
                            class="form-control"
                            placeholder="আপনার নম্বর লিখুন"
                            required/>
                </div>

                <div class="form-set">
                    <label id="number-label" for="number"><i class="fas fa-child"></i> বয়স</label>
                    <input
                            type="number"
                            name="age"
                            id="number"
                            min="2"
                            max="150"
                            class="form-control"
                            placeholder="বয়স"
                            required/>
                </div>

                <div class="form-set">
                    <label id="preacher-label" for="preacher-input"><i class="fas fa-user-tie"></i> উপদেশক/কাউন্সেলর</label>
                    <input
                            type="text"
                            name="preacher"
                            id="preacher-input"
                            class="form-control"
                            placeholder="আপনার উপদেশক/কাউন্সেলরের নাম লিখুন"
                            required/>
                </div>

                <div class="form-set">
                    <label id="drop-label" for="center"><i class="fas fa-map-marker-alt"></i> কেন্দ্র</label>
                    <select id="center" name="center" class="form-control" required onchange="showOtherField(this)">
                        <option disabled selected value>একটি কেন্দ্র নির্বাচন করুন</option>
                        <option value="iskcon_kolkata">ইসকন কলকাতা (আলবার্ট রোড)</option>
                        <option value="iskcon_newtown">ইসকন নিউটাউন</option>
                        <option value="gita_study_course">গীতা স্টাডি কোর্স</option>
                        <option value="namhatta">নামহট্ট</option>
                        <option value="others">অন্যান্য</option>
                    </select>
                </div>

                <div id="otherCenterDiv" style="display:none; margin-top: 10px;">
                    <label for="otherCenter"><i class="fas fa-comment-alt"></i> অনুগ্রহ করে নির্দিষ্ট করুন:</label>
                    <input type="text" id="otherCenter" name="center" class="form-control">
                </div>

                <div class="form-set">
                    <label id="textarea-label" for="comments"><i class="fas fa-comments"></i> ভাগবত কথামৃত সম্পর্কে কোনো মন্তব্য, পরামর্শ বা প্রশ্ন?</label>
                    <textarea
                            id="comments"
                            class="input-textarea"
                            name="message"
                            placeholder="আপনার মন্তব্য এখানে লিখুন..."></textarea>
                </div>

                <div class="form-set">
                    <button type="submit" id="submit" class="submit-button">জমা দিন</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function showOtherField(select) {
        const otherDiv = document.getElementById("otherCenterDiv");
        const otherCenter = document.getElementById('otherCenter');
        if (select.value === "others") {
            otherDiv.style.display = "block";
            otherCenter.setAttribute("required", "required");
        } else {
            otherDiv.style.display = "none";
            otherCenter.removeAttribute("required");
        }
    }

    function switchLanguage() {
        const select = document.getElementById('language-select');
        const language = select.value;
        if (language === 'hi') {
            window.location.href = '/register_hi';
        } else if (language === 'ben') {
            window.location.href = '/register_ben';
        } else {
            window.location.href = '/register';
        }
    }
</script>
</body>
</html>